{% extends 'base.html' %}
{% block title %}
Home Page
{% endblock %}
{% block content %}
<div class="topContainer">
  <h1 class="title">
    Computer Science 334 Project 1
  </h1>
</div>
<div class="bottomContainer">
  <div class="buttons">
    <form method='POST'>
      <input type="submit" name='api' value="Api" class="apiButton"/>
      <input type="submit" name="scrapper" value="Scrapper" class="scrapperButton"/>
      <div class="search">
        <input type="text" name="search" placeholder="Search..">
      </div>
    </form>
  </div>

</div>
  <div class="cards_container">
    <!-- go through the data -->
    {% for dict_item in apiData %}
    <div class="card">
      <div class="card_content">
        <h3>repo name: {{dict_item['repo_name']}}</h3> 
        <p>description: {{dict_item['description']}}</p>
        <p>number of stars: {{dict_item['num_stars']}},   language: {{dict_item['language']}}, license: {{dict_item['license']}},   last updated: {{dict_item['last_updated']}}</p>
        <p>has issues: {{dict_item['has_issues']}}</p>
      </div>
    </div>
     {% endfor %}
     {% for dict_item in scrapeData %}
    <div class="card">
      <div class="card_content">
        <h3>repo name: {{dict_item['repo_name']}}</h3> 
        <p>description: {{dict_item['description']}}</p>
        <p>number of stars: {{dict_item['num_stars']}},   language: {{dict_item['language']}}, license: {{dict_item['license']}},   last updated: {{dict_item['last_updated']}}</p>
        <p>number of issues: {{dict_item['num_issues']}}</p>
      </div>
    </div>
     {% endfor %}
  </div>
</div>
{% endblock %}
